{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <variant-radios
      id="variant-radios-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <fieldset class="js product-form__input">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options', product: product, option: option, block: block %}
        </fieldset>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        {% if option.name == 'Color' %}
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
          </label>
         {% comment %} Hidden color selectors{% endcomment %}
          <div class="product-form__input product-form__input--dropdown" style="display:none">
            <div class="select">
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="select__select"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
              >
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
          {% comment %} End hidden color selectors{% endcomment %}
          {% comment %} Swatch selectors{% endcomment %}
          {% assign SwatchData = '' %}
          {% for variant in product.variants %}
            {% assign CurrentVariantImage = variant.image.src | image_url: width: 600 %}
            {% assign CurrentVariantOption1 = variant.option1 %}
            {% unless SwatchData contains CurrentVariantImage %}
              {% assign SwatchData = SwatchData | append: CurrentVariantImage | append: ',' | append: CurrentVariantOption1 | append: ";" %}
            {% endunless %} 
          {% endfor %}  
          {% assign SwatchesArray = SwatchData | split: ";" %}

          <div class="swatch-container" style="display:flex">
            {% for Swatch in SwatchesArray %}
              {% assign SplitSwatch = Swatch | split: "," %}
              {% assign SwatchColor = ''  %}
              {% assign SwatchImageSrc = ''  %}
              {% for Swatch in SplitSwatch %}
                {% if forloop.index == 1 %}
                  {% assign SwatchImageSrc = Swatch %}
                {% else %}
                  {% assign SwatchColor = Swatch %}
                {% endif %}
              {% endfor %}  
                <div class="swatch" data-swatch-color="{{ SwatchColor | handleize }}" style="padding:10px;border-radius:50px;display:flex">
                   <img src="{{SwatchImageSrc}}" alt="{{ SwatchColor }}" class="swatch__image" style="width:50px;height:50px">
                </div> 
            {% endfor %}  
          </div>
        {% elsif option.name == 'Size' %}
          <div class="product-form__input product-form__input--dropdown">
            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <div class="select">
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="select__select"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
              >
                <option
                  value="Unselected"
                >
                Unselected
                </option>
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        {% else %}
          <div class="product-form__input product-form__input--dropdown">
            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <div class="select">
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="select__select"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
              >
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        {% endif %}
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>
<script>
    document.addEventListener('DOMContentLoaded', function () {

      let selectedColor = '{{ product.selected_variant.option1 }}'
      const swatches = document.querySelectorAll('.swatch');
      const colorSelect = document.querySelector('#Option-{{ section.id }}-0');
      const variantSelects = document.querySelector('variant-selects')
      let mainImageContainer = document.querySelector('.product__media');

      // Make sure the selected option is the same as the selected color
      function updateSelectedOption() {
        colorSelect.querySelectorAll('option').forEach(option => {
          if (option.value.toLowerCase() === selectedColor.toLowerCase()) {
            option.selected = true;
          } else {
            option.selected = false;
          }
        });
      }

      function updateSwatchStyle(selectedColor) {
        let swatchIsSelected = false;
        swatches.forEach(swatch => {
          if (swatch.dataset.swatchColor.toLowerCase() === selectedColor.toLowerCase()) {
            swatch.style.background = 'black';
            swatchIsSelected = true;
          } else {
            swatch.style.background = 'none';
          }
        });
        if (!swatchIsSelected) {
          swatches[0].style.background = 'black';
        }
      }

      updateSelectedOption();
      updateSwatchStyle(selectedColor);

      
      swatches.forEach(swatch => {
        let originalSwatchSrc = swatch.querySelector('img').src
        swatch.addEventListener('click', function () {
          //Update the main image when the size option is 'unselected'.  I've left out the code for updating the lightbox as well, for the sake of brevity - the principle is the same
          let mainImg = mainImageContainer.querySelector('img')
          mainImg.src = originalSwatchSrc;
          mainImg.srcset = '';
          const swatchColor = this.dataset.swatchColor.toLowerCase();

          // Sync the swatch color with the hidden select color
          for (let i = 0; i < colorSelect.options.length; i++) {
            if (colorSelect.options[i].value.toLowerCase() === swatchColor) {
              colorSelect.selectedIndex = i;
              break;
            }
          }

          // Make sure that the 'change' Event in the 'variant-selects' element is not triggered when the size option is 'unselected'
          let sizesDropdown = document.querySelectorAll('#Option-{{ section.id }}-1>option')
          let unselectedIsSelected = false
          for (option of sizesDropdown) {
            if (option.value == 'Unselected' && option.selected) {
              unselectedIsSelected = true
            }
          }
          if (!unselectedIsSelected) {
            const changeEvent = new Event('change', {
              bubbles: true
            });
            variantSelects.dispatchEvent(changeEvent);
          }

          updateSwatchStyle(swatchColor);
        });
      });
    });
</script>
